@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=New+Amsterdam&display=swap');
font-family
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center; 
}
#hero-msg h4{
    text-align: center;  
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #606C38;
    font-family: Fredoka;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #606C38;
}
nav a:hover {
    background-color: #FEFAE0;
    color: #DDA15E;
}
.book {
    background-color: #DDA15E;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #606C38;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #FEFAE0;
    color: #DDA15E;
}
.join:hover {
    background-color: #FEFAE0;
    color: #DDA15E;
}
#background {
    background-color: #DDA15E;
}
.msg {
    background-color: #BC6C25;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #283618;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: white;
}
.msg h2 {
    color: white;
    font-family: "New Amsterdam", sans-serif;
}
msg p {
    color: white;
    text-decoration: none;
    font-size: .8em;
    padding-bottom:15px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #DDA15E;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    
.logo {
    width: 80px;
}
#hero-img {
width: 100%
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}