body {
    background-color: beige;
    font-size: 24px;
}
nav, footer {
    background-color: rgb(181, 103, 170);
    text-align: center;
    display: flex;
    justify-content: space-around;
}
img { 
    border-radius: 20px;
}